<a href="https://colab.research.google.com/github/cazathoth/tfm/blob/main/tfm_jvasquez_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#descarga librerias.
install.packages("tidyverse")
install.packages("arrow")
install.packages("lubridate")
#install.packages('devtools')
#devtools::install_github('catboost/catboost', subdir = 'catboost/R-package')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘assertthat’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
#cargo librerias a utilizar.
library("tidyverse")
library("arrow")
library("lubridate")
#library("catboost")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘arrow’


The following object is masked from ‘package:lubridate’:

    duration


The following object is masked from ‘package:utils’:

    timestamp

In [3]:
#creo directorio y descargo dataset con datos de urgencias respiratorias
dir.create("descargas")
url <- "https://datos.gob.cl/dataset/606ef5bb-11d1-475b-b69f-b980da5757f4/resource/ae6c9887-106d-4e98-8875-40bf2b836041/download/at_urg_respiratorio_semanal.parquet"
nombre_temporal <- "descargas/at_urg_respiratorio_semanal.parquet"
download.file(url, nombre_temporal)

In [4]:
#Descargo datos meteorologicos- temperatura
url <- "https://raw.githubusercontent.com/cazathoth/data/9ed2ff302d64b81e79eab693e77d12f805ed65ba/MERGE_XXXX_DiarioTs_.csv"
nombre_temporal <- "descargas/MERGE_XXXX_DiarioTs_.csv"
download.file(url, nombre_temporal)

In [5]:
#Descargo datos meteorologicos- precipitaciones
url <- "https://raw.githubusercontent.com/cazathoth/data/43bad08be793c38c993d524d182dcb2597e14714/MERGE_DiarioRR.csv"
nombre_temporal <- "descargas/MERGE_DiarioRR.csv"
download.file(url, nombre_temporal)

In [6]:
#Descargo zip datos meteorologicos- humedad
url <- "https://github.com/cazathoth/data/raw/69c13d02f49cd04ee16ab8063f872e2aa9b2632a/MERGE_Humedad.zip"
nombre_temporal <- "descargas/MERGE_Humedad.zip"
download.file(url, nombre_temporal)
#Descomprimo archivo zip
unzip("/content/descargas/MERGE_Humedad.zip", exdir = "/content/descargas/")

In [422]:
#Descargo datos material particulado
url <- "https://raw.githubusercontent.com/cazathoth/data/6b00e8ef9b16a1802825e7914f998a6dd5e8f486/MERGE_MP.csv"
nombre_temporal <- "descargas/MERGE_MP.csv"
download.file(url, nombre_temporal)

In [741]:
# Creo data frame urgencias y filtro por comuna de Santiago, La Serena y Concepción, luego cargo los datos
df_urgr_esp_semanal <- read_parquet("descargas/at_urg_respiratorio_semanal.parquet", col_select = c ('EstablecimientoCodigo','ComunaCodigo', COMUNA='ComunaGlosa', 'Anio', NuSemana='SemanaEstadistica','OrdenCausa','Causa','NumTotal'))
df_urgr_esp_semanal <- df_urgr_esp_semanal %>% filter (ComunaCodigo %in% c(4101, 8101, 13101) & OrdenCausa ==3)
df_urgr_esp_semanal <- df_urgr_esp_semanal %>% rename(COMUNA = ComunaGlosa, NuSemana = SemanaEstadistica)
head(df_urgr_esp_semanal,3)

  EstablecimientoCodigo ComunaCodigo COMUNA   Anio NuSemana OrdenCausa
1 110110                13101        Santiago 2023 50       3
2 111100                13101        Santiago 2021 52       3
3 110100                13101        Santiago 2017 46       3
  Causa                             NumTotal
1 TOTAL CAUSAS SISTEMA RESPIRATORIO  0
2 TOTAL CAUSAS SISTEMA RESPIRATORIO  0
3 TOTAL CAUSAS SISTEMA RESPIRATORIO 68

In [742]:
#ano_base <- "2014-01-01"
#df_datos_temperatura <- read_delim("descargas/MERGE_XXXX_DiarioTs_.csv", delim=";",col_select = c('CodigoNacional','momento','MediaCli_Valor','Maxima_Valor','Minima_Valor'), col_types = cols(momento = col_date(format = "%d-%m-%Y %H:%M:%S")))
#df_datos_temperatura <- df_datos_temperatura %>% filter (momento > ano_base)
#head(df_datos_temperatura,15)

In [743]:
#Cargo data frame temperatura y le cargo datos
#df_datos_temperatura <- read.csv("descargas/MERGE_XXXX_DiarioTs_.csv", header= TRUE, sep=";")
df_datos_temperatura <- read_delim("descargas/MERGE_XXXX_DiarioTs_.csv", delim=";",col_select = c('CodigoNacional','momento','MediaCli_Valor','Maxima_Valor','Minima_Valor'))
head(df_datos_temperatura,3)

Rows: 74539 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (1): momento
dbl (4): CodigoNacional, MediaCli_Valor, Maxima_Valor, Minima_Valor

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  CodigoNacional momento             MediaCli_Valor Maxima_Valor Minima_Valor
1 290004         01-01-1954 12:00:00 16.5           20.6         12.3
2 290004         02-01-1954 12:00:00 17.1           20.4         13.9
3 290004         03-01-1954 12:00:00 15.1           20.0         10.2

In [744]:
#Cargo data frame humedad y le cargo datos
df_datos_Humedad <- read.csv("descargas/MERGE_Humedad.csv", header= TRUE, sep=";")
head(df_datos_Humedad,3)

  CodigoNacional momento             HR_Valor
1 290004         01-01-1954 10:00:00 NA
2 290004         01-01-1954 11:00:00 NA
3 290004         01-01-1954 12:00:00 NA

In [745]:
#Cargo data frame precipitaciones y le cargo datos
#df_datos_Precip <- read.csv("descargas/MERGE_DiarioRR.csv", header= TRUE, sep=";")
df_datos_Precip <- read_delim("descargas/MERGE_DiarioRR.csv", delim=";",col_select = c('CodigoNacional','momento','Total_Valor'))
head(df_datos_Precip,3)

Rows: 66161 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (1): momento
dbl (2): CodigoNacional, Total_Valor

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  CodigoNacional momento             Total_Valor
1 290004         01-01-1954 12:00:00 0
2 290004         02-01-1954 12:00:00 0
3 290004         03-01-1954 12:00:00 0

In [746]:
#Cargo data frame material particulado y le cargo datos
#df_datos_mp25 <- read.csv("descargas/MERGE_MP.csv", header= TRUE, sep=";")
df_datos_mp25 <- read_delim("descargas/MERGE_MP.csv", delim=";",col_select = c('COMUNA', momento = 'FECHA(YYYYMMDD)', registrosValidados='Registros validados', registrosPreliminares='Registros preliminares', registrosNoValidados='Registros no validados' ))
 df_datos_mp25 <-df_datos_mp25%>%unite(totalMP25, c(registrosValidados,registrosPreliminares, registrosNoValidados), na.rm = TRUE)
 df_datos_mp25$totalMP25 <- as.double(df_datos_mp25$totalMP25)
head(df_datos_mp25,3)

Rows: 18476 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (1): COMUNA
dbl (4): Registros validados, Registros preliminares, Registros no validados...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  COMUNA     momento  totalMP25
1 Concepcion 20090812 390.2810
2 Concepcion 20090813  68.5317
3 Concepcion 20090814 319.4660

In [747]:
#formateo fechas en material particulado 2.5.
df_datos_mp25$momento <- format(as.Date(as.character(df_datos_mp25$momento),format="%Y%m%d"), format="%d-%m-%Y")
#formateo fechas en temperaturas.
df_datos_temperatura$momento<- format(as.Date(df_datos_temperatura$momento, format = "%d-%m-%Y %H:%M:%S"), format = "%d-%m-%Y")
#formateo fechas en precipitaciones
df_datos_Precip$momento<- format(as.Date(df_datos_Precip$momento, format = "%d-%m-%Y %H:%M:%S"), format = "%d-%m-%Y")
#formateo fechas en humedad
df_datos_Humedad$momento<- format(as.Date(df_datos_Humedad$momento, format = "%d-%m-%Y %H:%M:%S"), format = "%d-%m-%Y")

In [748]:
#Limpio filas con NA en todos los dataframe y chequeo contando posibles NA
#df_urgr_esp_semanal <- na.omit(df_urgr_esp_semanal)
#df_datos_temperatura <- na.omit(df_datos_temperatura)
#df_datos_Precip <- na.omit(df_datos_Precip)
#df_datos_Humedad <- na.omit(df_datos_Humedad)
#df_datos_mp25 <- na.omit(df_datos_mp25)
sum(!complete.cases(df_urgr_esp_semanal))
sum(!complete.cases(df_datos_temperatura))
sum(!complete.cases(df_datos_Precip))
sum(!complete.cases(df_datos_Humedad))
sum(!complete.cases(df_datos_mp25))

[1] 0

[1] 10026

[1] 134

[1] 18269

[1] 1183

In [749]:
# agrupo urgencias respiratorias por año, semana y comuna y sumo el total de urgencias para la comuna.
df_urgr_esp_semanal <-df_urgr_esp_semanal %>% group_by (COMUNA, Anio, NuSemana) %>% summarise(NumTotalUrg = sum(NumTotal, na.rm = TRUE)) %>%filter(Anio > 2013 & Anio < 2024)
df_urgr_esp_semanal <- as.data.frame(df_urgr_esp_semanal)
df_urgr_esp_semanal$COMUNA[df_urgr_esp_semanal$COMUNA == "La Serena"] <- "LaSerena"
df_urgr_esp_semanal$COMUNA[df_urgr_esp_semanal$COMUNA == "Concepción"] <- "Concepcion"
head(df_urgr_esp_semanal,3)

`summarise()` has grouped output by 'COMUNA', 'Anio'. You can override using
the `.groups` argument.

  COMUNA     Anio NuSemana NumTotalUrg
1 Concepcion 2014 1        574
2 Concepcion 2014 2        965
3 Concepcion 2014 3        763

In [750]:
#obtengo n° de semana de las fechas de mediciones (momento) y agrego columna al data frame temperatura
semana<- epiweek(dmy(df_datos_temperatura$momento))
ano <- year(dmy(df_datos_temperatura$momento))
difTemp <- df_datos_temperatura$Maxima_Valor-df_datos_temperatura$Minima_Valor
df_datos_temperatura <- cbind(df_datos_temperatura, NuSemana = semana)
df_datos_temperatura <- cbind(df_datos_temperatura, Anio = ano)
df_datos_temperatura <- cbind(df_datos_temperatura, difTemp = difTemp)
head(df_datos_temperatura,3)

  CodigoNacional momento    MediaCli_Valor Maxima_Valor Minima_Valor NuSemana
1 290004         01-01-1954 16.5           20.6         12.3         52
2 290004         02-01-1954 17.1           20.4         13.9         52
3 290004         03-01-1954 15.1           20.0         10.2          1
  Anio difTemp
1 1954 8.3
2 1954 6.5
3 1954 9.8

In [751]:
# Obtengo la media y mediana, de la temperatura para cada semana en cada año.
df_datos_temperatura_semanal <- df_datos_temperatura %>% group_by (CodigoNacional,Anio, NuSemana) %>% summarise(medianaClim = median(MediaCli_Valor, na.rm = TRUE),  difMaxMin = median(difTemp, na.rm = TRUE))
#Convierto agrupación con media y mediana a data frame
df_datos_temperatura_semanal <- as.data.frame (df_datos_temperatura_semanal)
#filtro por todo aquellos años >= a 2014
df_datos_temperatura_semanal <- df_datos_temperatura_semanal %>% filter(Anio > 2013 & Anio < 2024)
head(df_datos_temperatura_semanal,3)

`summarise()` has grouped output by 'CodigoNacional', 'Anio'. You can override
using the `.groups` argument.

  CodigoNacional Anio NuSemana medianaClim difMaxMin
1 290004         2014 1        17.6        7.8
2 290004         2014 2        17.4        7.5
3 290004         2014 3        17.8        6.9

In [752]:
#obtengo n° de semana de las fechas de mediciones (momento) y agrego columna al data frame humedad
semana<-epiweek(dmy(df_datos_Humedad$momento))
ano <- year(dmy(df_datos_Humedad$momento))
df_datos_Humedad <- cbind(df_datos_Humedad, NuSemana = semana)
df_datos_Humedad <- cbind(df_datos_Humedad, Anio = ano)
head(df_datos_Humedad,3)

  CodigoNacional momento    HR_Valor NuSemana Anio
1 290004         01-01-1954 NA       52       1954
2 290004         01-01-1954 NA       52       1954
3 290004         01-01-1954 NA       52       1954

In [753]:
# Obtengo la media y mediana, de la temperatura para cada semana en cada año.
df_datos_Humedad_semanal <- df_datos_Humedad %>% group_by (CodigoNacional,Anio, NuSemana) %>% summarise(Mediana_HR_Valor = median(HR_Valor, na.rm = TRUE))
#Convierto agrupación con media y mediana a data frame
df_datos_Humedad_semanal <- as.data.frame (df_datos_Humedad_semanal)
#filtro por todo aquellos años >= a 2014
df_datos_Humedad_semanal <- df_datos_Humedad_semanal %>% filter(Anio > 2013 & Anio < 2024)
head(df_datos_Humedad_semanal,3)

`summarise()` has grouped output by 'CodigoNacional', 'Anio'. You can override
using the `.groups` argument.

  CodigoNacional Anio NuSemana Mediana_HR_Valor
1 290004         2014 1        76.5
2 290004         2014 2        81.5
3 290004         2014 3        72.5

In [754]:
#obtengo n° de semana de las fechas de mediciones (momento) y agrego columna al data frame precipitaciones
semana<-epiweek(dmy(df_datos_Precip$momento))
ano <- year(dmy(df_datos_Precip$momento))
df_datos_Precip <- cbind(df_datos_Precip, NuSemana = semana)
df_datos_Precip <- cbind(df_datos_Precip, Anio = ano)
head(df_datos_Precip,3)

  CodigoNacional momento    Total_Valor NuSemana Anio
1 290004         01-01-1954 0           52       1954
2 290004         02-01-1954 0           52       1954
3 290004         03-01-1954 0            1       1954

In [755]:
# Agrupo y obtengo la suma de precipitaciones para cada semana en cada año.
df_datos_Precip_semanal <- df_datos_Precip %>% group_by (CodigoNacional,Anio, NuSemana) %>% summarise(Total_Valor_semPP = sum(Total_Valor, na.rm = TRUE))
#Convierto agrupación con media y mediana a data frame
df_datos_Precip_semanal <- as.data.frame (df_datos_Precip_semanal)
#filtro por todo aquellos años >= a 2014
df_datos_Precip_semanal <- df_datos_Precip_semanal %>% filter(Anio > 2013 & Anio < 2024)
head(df_datos_Precip_semanal,3)

`summarise()` has grouped output by 'CodigoNacional', 'Anio'. You can override
using the `.groups` argument.

  CodigoNacional Anio NuSemana Total_Valor_semPP
1 290004         2014 1        0
2 290004         2014 2        0
3 290004         2014 3        0

In [756]:
#obtengo n° de semana de las fechas de mediciones (momento) y agrego columna al data frame mp25
semana<-epiweek(dmy(df_datos_mp25$momento))
ano <- year(dmy(df_datos_mp25$momento))
df_datos_mp25 <- cbind(df_datos_mp25, NuSemana = semana)
df_datos_mp25 <- cbind(df_datos_mp25, Anio = ano)
head(df_datos_mp25,3)

  COMUNA     momento    totalMP25 NuSemana Anio
1 Concepcion 12-08-2009 390.2810  32       2009
2 Concepcion 13-08-2009  68.5317  32       2009
3 Concepcion 14-08-2009 319.4660  32       2009

In [757]:
# Agrupo y obtengo la suma de precipitaciones para cada semana en cada año.
df_datos_mp25_semanal <- df_datos_mp25 %>% group_by (COMUNA,Anio, NuSemana) %>% summarise(Total_Valor_semMP25 = sum(totalMP25, na.rm = TRUE))
#Convierto agrupación con media y mediana a data frame
df_datos_mp25_semanal <- as.data.frame (df_datos_mp25_semanal)
#filtro por todo aquellos años >= a 2014
df_datos_mp25_semanal <- df_datos_mp25_semanal %>% filter(Anio > 2013 & Anio < 2024)
head(df_datos_mp25_semanal,3)

`summarise()` has grouped output by 'COMUNA', 'Anio'. You can override using
the `.groups` argument.

  COMUNA     Anio NuSemana Total_Valor_semMP25
1 Concepcion 2014 1        48.20000
2 Concepcion 2014 2        73.69997
3 Concepcion 2014 3        72.09999

In [758]:
count(df_urgr_esp_semanal)
write.csv (df_urgr_esp_semanal, "prueba.csv")
count(df_datos_temperatura_semanal)
write.csv (df_datos_temperatura_semanal, "prueba2.csv")
count(df_datos_Precip_semanal)
count(df_datos_Humedad_semanal)
count(df_datos_mp25_semanal)

  n
1 1572

  n
1 1572

  n
1 1572

  n
1 1572

  n
1 1572

In [759]:
df_variable <-merge(df_datos_temperatura_semanal, df_datos_Humedad_semanal, by = c("CodigoNacional","Anio","NuSemana"))
df_variable <- merge(df_variable, df_datos_Precip_semanal, by = c("CodigoNacional","Anio","NuSemana"))
head(df_variable,10)

   CodigoNacional Anio NuSemana medianaClim difMaxMin Mediana_HR_Valor
1  290004         2014  1       17.6        7.8       76.5
2  290004         2014 10       15.8        8.4       82.0
3  290004         2014 11       14.9        6.6       84.0
4  290004         2014 12       14.3        6.1       86.5
5  290004         2014 13       14.4        4.2       85.5
6  290004         2014 14       14.2        7.7       80.0
7  290004         2014 15       14.1        8.9       77.0
8  290004         2014 16       12.8        5.4       83.0
9  290004         2014 17       13.2        5.0       84.0
10 290004         2014 18       12.4        8.0       80.0
   Total_Valor_semPP
1  0.0
2  0.0
3  0.0
4  0.2
5  0.6
6  0.0
7  0.0
8  0.0
9  0.2
10 0.0

In [760]:
df_variable <- df_variable %>% mutate(COMUNA = ifelse(CodigoNacional == 290004, "LaSerena", ifelse (CodigoNacional == 360019, "Concepcion", ifelse (CodigoNacional == 330020, "Santiago", NA))))

In [761]:
df_variable <- merge(df_variable, df_urgr_esp_semanal, by = c("COMUNA","Anio","NuSemana"))
df_variable

     COMUNA     Anio NuSemana CodigoNacional medianaClim difMaxMin
1    Concepcion 2014  1       360019         16.75       13.6
2    Concepcion 2014 10       360019         15.20       11.2
3    Concepcion 2014 11       360019         15.80        9.9
4    Concepcion 2014 12       360019         15.30       12.0
5    Concepcion 2014 13       360019         13.70        4.4
6    Concepcion 2014 14       360019         12.80        9.2
7    Concepcion 2014 15       360019         12.00        8.4
8    Concepcion 2014 16       360019         12.70       11.2
9    Concepcion 2014 17       360019         12.60       10.9
10   Concepcion 2014 18       360019         10.50        8.4
11   Concepcion 2014 19       360019         13.40        5.2
12   Concepcion 2014  2       360019         17.70       14.2
13   Concepcion 2014 20       360019         12.00        8.6
14   Concepcion 2014 21       360019         11.50        5.3
15   Concepcion 2014 22       360019         10.50        7.7
16   Concepcion 2014 23       360019          9.50        5.8
17   Concepcion 2014 24       360019         10.80        5.5
18   Concepcion 2014 25       360019         11.80        6.7
19   Concepcion 2014 26       360019          7.80        8.2
20   Concepcion 2014 27       360019          8.70        5.0
21   Concepcion 2014 28       360019          9.40        9.2
22   Concepcion 2014 29       360019         11.10        6.2
23   Concepcion 2014  3       360019         18.00       10.7
24   Concepcion 2014 30       360019          9.50        5.1
25   Concepcion 2014 31       360019         12.30        2.8
26   Concepcion 2014 32       360019         10.00        6.1
27   Concepcion 2014 33       360019          8.80       10.6
28   Concepcion 2014 34       360019         10.70        4.3
29   Concepcion 2014 35       360019         11.20        4.7
30   Concepcion 2014 36       360019         12.00        4.0
⋮    ⋮          ⋮    ⋮        ⋮              ⋮           ⋮
1543 Santiago   2023  3       330020         20.7        17.1
1544 Santiago   2023 30       330020         10.0        15.7
1545 Santiago   2023 31       330020         13.2        18.7
1546 Santiago   2023 32       330020         11.7        12.5
1547 Santiago   2023 33       330020         12.2         6.6
1548 Santiago   2023 34       330020          9.8         9.3
1549 Santiago   2023 35       330020         12.3        12.2
1550 Santiago   2023 36       330020         11.9         6.9
1551 Santiago   2023 37       330020         12.1        11.5
1552 Santiago   2023 38       330020         12.7         8.3
1553 Santiago   2023 39       330020         12.3        15.5
1554 Santiago   2023  4       330020         22.3        18.8
1555 Santiago   2023 40       330020         11.6        11.5
1556 Santiago   2023 41       330020         15.3        19.4
1557 Santiago   2023 42       330020         15.5        17.8
1558 Santiago   2023 43       330020         14.9        11.3
1559 Santiago   2023 44       330020         13.1        14.2
1560 Santiago   2023 45       330020         16.0        15.7
1561 Santiago   2023 46       330020         14.2        15.0
1562 Santiago   2023 47       330020         18.3        18.3
1563 Santiago   2023 48       330020         16.7        15.1
1564 Santiago   2023 49       330020         19.8        20.4
1565 Santiago   2023  5       330020         23.1        18.4
1566 Santiago   2023 50       330020         21.0        19.2
1567 Santiago   2023 51       330020         19.4        19.4
1568 Santiago   2023 52       330020         20.2        14.3
1569 Santiago   2023  6       330020         23.8        17.5
1570 Santiago   2023  7       330020         22.3        18.8
1571 Santiago   2023  8       330020         22.2        19.6
1572 Santiago   2023  9       330020         22.9        20.2
     Mediana_HR_Valor Total_Valor_semPP NumTotalUrg
1    58.0               0.0              574
2    76.5               0.4              938
3    80.0              12.8             1270
4    72.0               0.8             1702
5    81.0              52.8             1450
6    84.0               0.0             1480
7    86.0               5.8             1317
8    73.0               0.0             1353
9    90.5               1.6             1400
10   93.0              79.4             1215
11   96.0               3.0             1264
12   66.5               0.0              965
13   92.0              22.8             1537
14   88.0              34.2             2047
15   89.0              34.0             2240
16   86.0             138.2             2192
17   92.0              99.0             2336
18   82.0              25.8             2646
19   92.0               3.0             2667
20   87.0              26.8             2421
21   84.0               0.0             2398
22   90.0              51.6             2042
23   76.0               0.0              763
24   89.0              25.8             1632
25   96.0             132.2             1212
26   84.0              37.8             1180
27   78.0               0.0             1716
28   89.0              31.4             1798
29   80.0              20.0             2007
30   89.0              33.2             1875
⋮    ⋮                ⋮                 ⋮
1543 53.65             0.0               429
1544 89.35             0.0               748
1545 81.30             0.0               884
1546 81.80             7.7               833
1547 82.60            28.6               868
1548 88.50            53.5               736
1549 67.00             0.0               799
1550 87.20            42.2               766
1551 74.00            34.6               822
1552 78.25             0.0              1014
1553 70.20             0.0               923
1554 43.40             0.0               388
1555 77.05             1.9               926
1556 61.50             0.0              1004
1557 61.00             0.1               997
1558 74.50             2.5               956
1559 68.90             3.0               852
1560 71.00            25.4               882
1561 63.90             0.0               810
1562 49.50             0.0               861
1563 67.30             0.0               792
1564 47.00             0.0               807
1565 41.50             0.0               401
1566 47.70             0.0               737
1567 47.65             0.0               612
1568 60.00             0.0               536
1569 49.20             0.0               416
1570 40.50             0.0               487
1571 45.50             0.0               459
1572 43.20             0.0               519

In [762]:
df_variable <-df_variable %>% select(-CodigoNacional) %>% arrange(Anio,NuSemana)
head(df_variable,5)

  COMUNA     Anio NuSemana medianaClim difMaxMin Mediana_HR_Valor
1 Concepcion 2014 1        16.75       13.60     58.0
2 LaSerena   2014 1        17.60        7.80     76.5
3 Santiago   2014 1        21.95       19.15     32.0
4 Concepcion 2014 2        17.70       14.20     66.5
5 LaSerena   2014 2        17.40        7.50     81.5
  Total_Valor_semPP NumTotalUrg
1 0                 574
2 0                 396
3 0                 295
4 0                 965
5 0                 694

In [763]:
df_datos_mp25_semanal %>% filter(Total_Valor_semMP25 == 0)

   COMUNA     Anio NuSemana Total_Valor_semMP25
1  Concepcion 2014 26       0
2  Concepcion 2014 27       0
3  Concepcion 2014 28       0
4  Concepcion 2014 29       0
5  Concepcion 2014 30       0
6  Concepcion 2014 31       0
7  Concepcion 2014 32       0
8  Concepcion 2014 33       0
9  Concepcion 2014 34       0
10 Concepcion 2014 52       0
11 Concepcion 2014 53       0
12 Concepcion 2015  1       0
13 Concepcion 2015  2       0
14 Concepcion 2015  3       0
15 Concepcion 2015  4       0
16 Concepcion 2015  5       0
17 Concepcion 2015  6       0
18 Concepcion 2015  7       0
19 Concepcion 2015  8       0
20 Concepcion 2015  9       0
21 Concepcion 2015 10       0
22 Concepcion 2015 11       0
23 Concepcion 2015 53       0
24 Concepcion 2016 41       0
25 Concepcion 2016 42       0
26 Concepcion 2016 43       0
27 Concepcion 2016 44       0
28 Concepcion 2016 45       0
29 LaSerena   2014 44       0
30 LaSerena   2014 45       0
31 LaSerena   2015  4       0
32 LaSerena   2015  5       0
33 LaSerena   2015  6       0
34 LaSerena   2015 13       0
35 LaSerena   2015 14       0
36 LaSerena   2015 15       0
37 LaSerena   2015 16       0
38 LaSerena   2015 19       0
39 Santiago   2014  1       0

In [764]:
#Aqui estan todas las causas consideradas. La #3 es un total.
#df_urgr_esp_semanal %>% select(OrdenCausa, Causa)%>%distinct()%>%arrange(OrdenCausa)

In [765]:
#Filtro el dataset par las regiones 8,4 y 13, tambien la causa 3 que es solo totalizador de urgencias reportadas
#df_urgr_esp_semanal<- df_urgr_esp_semanal %>% filter (RegionCodigo %in% c(8,4,13) & OrdenCausa != 3)
#count(df_urgr_esp_semanal)
#head(df_urgr_esp_semanal,5)
#df_urgr_esp_semanal %>% filter (ComunaGlosa == 'La Serena' & Anio == 2023 & SemanaEstadistica == 47) %>%arrange (Anio)
#%>% select(ComunaCodigo, ComunaGlosa) %>% filter(ComunaGlosa == 'Santiago')

In [766]:
#Obtengo el total de urgencias reportadas en todos los años por las 3 regiones.
#df_urgr_esp_semanal%>% group_by(RegionGlosa) %>% summarise(Total = sum(NumTotal, na.rm = TRUE))

In [767]:
# Grafico la cantidad de casos por región
#df_plot1<-df_urgr_esp_semanal%>% group_by(RegionGlosa) %>% summarise(Total = sum(NumTotal, na.rm = TRUE))
#options(repr.plot.width = 10, repr.plot.height = 10)
#ggplot(df_plot1, aes(x=RegionGlosa, y= Total, fill= RegionGlosa)) + geom_bar(stat="identity") +
#scale_y_continuous(labels = scales::comma_format(accuracy = 1))+
#theme(axis.text.x = element_text(angle = 75, vjust = .5))+
#labs(x = "Región", y = "Total Urgencias", title = "Total Urgencias x Región")

In [768]:
# Obtengo cantidad de urgencias por año y region
#df_resumen <- df_urgr_esp_semanal %>%
#  group_by(Anio, RegionGlosa) %>%
#  summarise(Total = sum(NumTotal, na.rm = TRUE))
#  df_resumen

In [769]:
# Obtengo cantidad de urgencias por año, semana y region.
#df_resumen <- df_urgr_esp_semanal %>%
#  group_by(Anio, SemanaEstadistica, Causa) %>%
#  summarise(Total = sum(NumTotal, na.rm = TRUE))
#  df_resumen

In [770]:
#df_agrupado <- df_urgr_esp_semanal %>%
 # group_by(Anio) %>%
  #summarise(Total = sum(NumTotal, na.rm = TRUE))
#options(repr.plot.width = 15, repr.plot.height = 15)
#ggplot(df_agrupado, aes(x = factor(Anio), y = Total)) +
 # geom_bar(stat = "identity", fill = "steelblue") +
 # labs(x = "Año", y = "Total Urgencias", title = "Urgencias por Año") +
 # theme_minimal()